a, a:hover {
    color:#4D8239;
}
header {
    background: #C7E3B4;
}
header h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

header h3 img {
    height: 96px;
}

header nav {
    height: 96px;
    margin-bottom: 10px;
}

header nav ul {
    padding-top: 30px;
}

h1 .label {
    font-size: .3em;
}

img.avatar {
    width: 100%;
}

.list-group h3 {
    margin-top: 0;
}

.list-group .badge a {
    color: white;
}

.no-margin-top {
    margin-top: 0;
}

.navbar-btn.pull-right {
    padding-top: 25px;
    margin-right: 5px;
}
.jumbotron {
    background: transparent;
}
.btn-primary {
    background-color: #4D8239;
    border-color: transparent;
}
.btn-primary:hover {
    background-color: #95CB70;
    border-color: #4D8239;
    color: #fff;
}
.search-form {
    margin-top:20px;
}
.form-control:focus {
    border-color:#95CB70;
}