body {
    padding-top: 20px;
    padding-bottom: 20px;
}

header h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

header h3 img {
    height: 96px;
}

header nav {
    height: 96px;
    margin-bottom: 10px;
}

header nav ul {
    padding-top: 30px;
}
