body {
    padding-top: 20px;
    padding-bottom: 20px;
}

header h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

header h3 img {
    height: 96px;
}

header nav {
    height: 96px;
    margin-bottom: 10px;
}

header nav ul {
    padding-top: 30px;
}

h1 .label {
    font-size: .3em;
}

img.avatar {
    width: 100%;
}

.list-group h3 {
    margin-top: 0;
}

.list-group .badge a {
    color: white;
}

.no-margin-top {
    margin-top: 0;
}

.info, .success, .warning, .error, .validation {
border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.info {
	color: #00529B;
	background-color: #BDE5F8;
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}

.warning {
	color: #9F6000;
	background-color: #FEEFB3;
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
}
