{% extends "index.html" %}

{% set title = 'Package: ' ~ latest.getName() %}

{% block content %}
    {% include "partials/search.html" %}

    {% if transaction %}
        <p class="pull-right">
            <a class="btn btn-lg btn-success" href="/package/register?confirm=1&id={{ transaction }}">Confirm registration</a>
        </p>
    {% endif %}
    <h1>
        Register extension: {{ latest.getName() }}
    </h1>

<p><pre>{{ log }}</pre></p>
    {% if latest.getDescription() %}
        <p class="lead">
            {{ latest.getDescription() }}
        </p>
    {% endif %}

    <ul>
        <li>
            Author(s):
            {% spaceless %}
                {% for author in latest.authors %}
                    {% if author.homepage %}
                        <a href="{{ author.homepage }}">{{ author.name }}</a>
                    {% elseif author.email %}
                        <a href="mailto:{{ author.email }}">{{ author.name }}</a>
                    {% else %}
                        {{ author.name }}
                    {% endif %}
                    {% if not loop.last %},{% endif %}
                {% endfor %}
            {% endspaceless %}
        </li>

        {% if latest.getLicense() %}
            <li>
                License(s):
                {% spaceless %}
                    {% for license in latest.getLicense() %}
                        {{ license }}
                        {% if not loop.last %},{% endif %}
                    {% endfor %}
                {% endspaceless %}
            </li>
        {% endif %}

        {% if vcs %}
            <li>Source: <a href="{{ vcs }}">{{ vcs }}</a></li>
        {% endif %}
    </ul>

    <h2>Releases</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Version</th>
            <th>Time</th>
            <th>SHA1</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in tags|reverse %}
            <tr>
                <td>{{ tag.getVersion() }} ({{ tag.getVersionNormalized() }})</td>
                <td>{{ tag.getTime() }}</td>
                <td>{{ tag.getId()[:7] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if transaction %}
        <p class="pull-right">
            <a class="btn btn-lg btn-success" href="/package/register?confirm=1&id={{ transaction }}">Confirm registration</a>
        </p>
    {% endif %}
{% endblock %}
