{% extends "index.html" %}

{% set title = 'Package: ' ~ extension.name %}

{% block content %}
    {% include "partials/search.html" %}

    <h1>
        {{ extension.name }}
        <span class="label label-primary">PHP</span>
        <!-- <span class="label label-primary">HHVM</span>
        <span class="label label-primary">Hippy</span>-->
    </h1>

    {% if extension.getDescription()  %}
        <p class="lead">
            {{ extension.getDescription() }}
        </p>
    {% endif %}

    <ul>
{% for maintainer in extension.getAuthors() %}
        <li>
            Maintainer:
            {% if maintainer.homepage %}
                <a href="{{ extension.maintainer.homepage }}">{{ maintainer.name }}</a>
            {% elseif maintainer.email %}
                <a href="mailto:{{ maintainer.email }}">{{ maintainer.name }}</a>
            {% else %}
                {{ maintainer.name }}
            {% endif %}
        </li>
{% endfor %}
{% for license in extension.license %}
        {% if extension.license %}
            <li>License: {{ license }}</li>
        {% endif %}
{% endfor %}

        {% if extension.homepage %}
            <li>Homepage: <a href="{{ extension.homepage }}">{{ extension.homepage }}</a></li>
        {% endif %}

        {% if extension.support.source %}
            <li>Source: <a href="{{ extension.support.source }}">{{ extension.support.source }}</a></li>
        {% endif %}
        {% if extension.source.url %}
            <li>Canonical: <a href="{{ extension.source.url }}">{{ extension.source.url }}</a></li>
        {% endif %}
        {% if extension.support.issues %}
            <li>Issues: <a href="{{ extension.support.issues }}">{{ extension.support.issues }}</a></li>
        {% endif %}
    </ul>
    <h2>API Keys (Hooks)</h2>
    <p>
		{% if apikey %}
		{{ apikey }}
		{% else %}
		<a href="/package/{{ extension.name}}/getapikey">Get an API key</a>
		{% endif %}
    </p>

    <h2>Versions</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Version</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for version, info in versions %}
            <tr>
                <td>{{ version }}</td>
                <td>{{ info.time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if transaction %}
        <p class="pull-right">
            <a class="btn btn-success" href="/package/register?confirm=1&id={{ transaction }}">Confirm registration</a>
        </p>
    {% endif %}
{% endblock %}
