<form id="search-form" action="/searchhtml/" method="GET"  autocomplete="off >
<div class="row">
    <div class="col-lg-12 search-form">
    <input type="search" id="search_query" name="search_query" class="form-control input-lg" required="required" autofocus="autofocus" placeholder="Search extensions..." tabindex="1" autocomplete="off">
    </div>
</div>
</form>
<div id="results"></div>
<div class="search-list "></div>
<!--<input type="search" id="search_query_query" name="search_query[query]" required="required" autocomplete="off" autofocus="autofocus" placeholder="Search packages..." tabindex="1">-->
<script src="/assets/js/jquery-1.8.2.min.js"></script>
<script src="/assets/js/search.js?v=6"></script>
