{% extends "index.html" %}

{% set title = 'Profile: ' ~ account.name %}

{% block content %}
<div class="col-lg-3">
    {% if account.picture %}
    <img class="image-responsive img-rounded avatar" src="{{ account.picture }}">
    {% endif %}
    <h2>
        {{ account.name }}<br/>
        <small>{{ account.nickname }}</small>
    </h2>
    <p><span class="text-muted"><i class="fa fa-envelope-o"></i></span> <a href="mailto:{{ account.email }}">{{ account.email }}</a></p>
    {% if account.githubHomepage %}
    <p><span class="text-muted"><i class="fa fa-github"></i></span> <a href="{{ account.githubHomepage }}">{{ account.githubHomepage }}</a></p>
    {% endif %}
    {% if account.googleHomepage %}
    <p><span class="text-muted"><i class="fa fa-google-plus"></i></span> <a href="{{ account.googleHomepage }}">{{ account.googleHomepage }}</a></p>
    {% endif %}
    {% if user.id == account.id %}
    <a class="btn btn-danger" href="/profile/remove">Remove account</a>
    {% endif %}
</div>

<div class="col-lg-9">
    <h2 class="no-margin-top">
        {% if account.uid == user.uid %}
            Your
        {% else %}
            {{ account.nickname }}'s
        {% endif %}
        extensions
    </h2>

    {% include "partials/package/list.html" with {
        packages: [
            {
                name: "xdebug",
                description: "The Xdebug extension helps you debugging your script by providing a lot of valuable debug information."
            },
            {
                name: "hprose",
                description: "Hprose is a High Performance Remote Object Service Engine."
            },
            {
                name: "uuid",
                description: "A wrapper around libuuid from the ext2utils project."
            }
        ]
    } %}

    {% if account.uid == user.uid %}
        <a class="btn btn-lg btn-primary pull-right" href="/package/register">Register a new extension</a>
    {% endif %}
</div>
{% endblock %}
