{% extends "index.html" %}

{% set title = 'Register extension: ' ~ extension.name %}

{% block content %}
<h1>Register extension {{ extension.name }}</h1>

<h2>Description</h2>
<p>{{ extension.description }}</p>

<h2>License</h2>
<ul>	
{% for license in extension.license %}
    <li>{{ license }}</li>
{% endfor %}
</ul>
<p>VCS URL {{ extension.support.source }}</p>

<h2>Author(s)</h2>
<ul>	
{% for author in extension.authors %}
    <li>{{ author.name }} ({{ author.email}})</li>
{% endfor %}
</ul>
{% if confirm %}
        <a class="btn btn-lg btn-primary pull-right" href="/package/register?confirm=1">Confirm registration</a>
{% endif %}
{% endblock %}
