{% extends "index.html" %}

{% block content %}
    {% include "search.html" %}

    <h1>
        {{ name }}
        <span class="label label-primary">PHP</span>
        <span class="label label-primary">HHVM</span>
        <span class="label label-primary">Hippy</span>
    </h1>

    <p class="lead">
        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo,
        tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>

    <ul>
        <li>Maintainer: <a href="#">{{ name }}@php.net</a></li>
        <li>homepage: <a href="#">http://{{ name }}.com</a></li>
        <li>Source: <a href="#">https://github.com/{{ name }}/{{ name }}</a></li>
        <li>Issues: <a href="#">https://github.com/{{ name }}/{{ name }}/issues</a></li>
    </ul>

    <h2>Versions</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Version</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2.3.2</td>
            <td>2015-03-22</td>
        </tr>
        <tr>
            <td>2.3.1</td>
            <td>2015-02-24</td>
        </tr>
        <tr>
            <td>2.3.0</td>
            <td>2015-02-22</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
