{% extends "index.html" %}

{% set title = 'Package: ' ~ package.name %}

{% block content %}
    {% include "partials/search.html" %}

    <h1>
        {{ package.name }}
        <span class="label label-primary">PHP</span>
        <span class="label label-primary">HHVM</span>
        <span class="label label-primary">Hippy</span>
    </h1>

    {% if package.latest.description %}
        <p class="lead">
            {{ package.latest.description }}
        </p>
    {% endif %}

    <ul>
        <li>
            Maintainer:
            {% if package.maintainer.homepage %}
                <a href="{{ package.maintainer.homepage }}">{{ package.maintainer.name }}</a>
            {% elseif package.maintainer.email %}
                <a href="mailto:{{ package.maintainer.email }}">{{ package.maintainer.name }}</a>
            {% else %}
                {{ package.maintainer.name }}
            {% endif %}
        </li>

        {% if package.latest.license %}
            <li>License: {{ package.latest.license }}</li>
        {% endif %}

        {% if package.latest.homepage %}
            <li>Homepage: <a href="{{ package.latest.homepage }}">{{ package.latest.homepage }}</a></li>
        {% endif %}

        {% if package.latest.support.source %}
            <li>Source: <a href="{{ package.latest.support.source }}">{{ package.latest.support.source }}</a></li>
        {% endif %}

        {% if package.latest.support.issues %}
            <li>Issues: <a href="{{ package.latest.support.issues }}">{{ package.latest.support.issues }}</a></li>
        {% endif %}
    </ul>

    <h2>Versions</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Version</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for version, info in package.versions %}
            <tr>
                <td>{{ version }}</td>
                <td>{{ info.time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
