{% extends "index.html" %}

{% set title = 'New extension' %}

{% block content %}
<h1>Register a new extension</h1>

<form id="submit-extension-form" action="/package/register" data-check-url="/package/fetch-info" method="post">
    <input type="hidden" name="package[_token]" value="{{package.token}}" >

    <div class="form-group">
        <label for="package_repository">Repository URL (Git)</label>
        <input type="text" name="package_repository" id="package_repository" required="required" size="100" class="form-control"/>
    </div>

	<input class="btn btn-primary" type="submit" value="Check">
</form>
{% endblock %}
