{% extends "index.html" %}

{% set title = 'Register' %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h2>Login with...</h2>
        </div>
    </div>

    <div class="row">
        <div class="well col-lg-6 col-lg-offset-3">
            <div class="col-lg-4">
                <a href="/login/github" class="btn btn-default btn-lg btn-block">
                    <i class="fa fa-4x fa-github"></i><br/>
                    Github
                </a>
            </div>

            <div class="col-lg-4">
                <a href="/login/bitbucket" class="btn btn-default btn-lg btn-block">
                    <i class="fa fa-4x fa-bitbucket"></i><br/>
                    Bitbucket
                </a>
            </div>

            <div class="col-lg-4">
                <a href="/login/google" class="btn btn-default btn-lg btn-block">
                    <i class="fa fa-4x fa-google"></i><br/>
                    Google
                </a>
            </div>
        </div>
    </div>
{% endblock %}
